.mceIcon.mce_snippetbutton {
	background: url('brackets.png')
}

span.no-select
{
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}